@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Rammetto+One|Aldrich);

body {
	font-family: 'Aldrich', sans-serif;
	font-size: 10pt;
	color: #e6e6e6;
	background: #34302d;
}

h1 {
	font-size: 200%;
	font-weight: bold;
}

h3 {
	font-size: 125%;
	font-weight: bold;
}

h1, h2, h3, legend, li, p {
	padding-bottom: 5px;
}

a {
	text-decoration: none;
	color: #86c543;
}

a:hover {
	text-decoration: underline;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	background: #edeae3;
	padding: 15px;
}

	#posts {
		background-color: #868686;
		padding: 25px;
	}

	#todo {
		margin-left: 1%;
		width: 45%;
		float: left;
	}
	
		#todo form fieldset {
			background-color: #868686;
		}
		
		.timestamp {
			color: #e0dfdf;
			font-style: italic;
		}
	
	#grocery {
		margin-right: 1%;
		width: 45%;
		float: right;
	}
	
		#grocery form fieldset {
			background-color: #868686;
		}