/* Name: Zak Nitsch
 * 
 * Date of Submission:
 * Friday, November 25, 2011
 * 
 * Assignment: Bookmarking App
 */

@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Rammetto+One|Aldrich);

body {
	font-family: 'Aldrich', sans-serif;
	font-size: 10pt;
	line-height: normal;
	color: #e6e6e6;
	background: #34302d;
}

h1 {
	font-size: 200%;
	font-weight: bold;
}

h2 {
	font-size: 150%;
	font-weight: bold;
}

h3 {
	font-size: 125%;
	font-weight: bold;
}

h1, h2, h3, legend, li, p {
	margin-top: 5px;
	margin-bottom: 5px;
}

a {
	text-decoration: none;
	color: #86c543;
}

a:hover {
	color: #34302d;
	text-decoration: underline;
}

#container {
	width: 960px;
	margin: 0 auto;
}

	#wrapper {
		float: left;
		width: 100%;
		background: #edeae3;
		padding: 15px;
		color: #34302d;
	}
	
		header {
			background: #34302d url('../images/banner.gif') no-repeat;
			background-position: 100px 0;
			width: 960px;
			height: 200px;
			margin-bottom: 20px;
		}
			
			header h1 span {
				display: none;
			}
		
		#message {
			margin: 0 auto;
		}
			
		#links {
			width: 75%;
			float: left;
			padding: 5px;
		}
		
		#links ul li.links:nth-child(even) {
			background: #cccccc;
		}
		
		#links ul li.links:nth-child(odd) {
			background: #edeae3;
		}
		
		#links img {
			float: left;
			margin-right: 4px;
			border: 2px solid #edeae3;
		}
		
		#links ul li.links img:hover {
			border: 2px solid #86c543;
		}
		
		li.links {
			padding: 5px 0 2px 5px;
		}
		
		#login {
			width: 22%;
			float: right;
		}
		
		#login ul li {
			margin-bottom: 25px;
		}
		
		footer {
			float: left;
			width: 960px;
			height: 20px;
		}
		
/*posted links styling*/
.timestamp {
	color: #aaaaaa;
	font-style: italic;
}

.user {
	color: #86c543;
	text-decoration: underline;
}

		
		
/*form styling*/

form {

}

	.required_notification {
		color:#d45252; 
		margin:5px 0 0 0; 
		display:inline;
		float:right;
	}
	
	.registerform input:required {
		background: #fff url(../images/red_asterisk.png) no-repeat 98% center;
	}
	
	.registerform input:required:valid {
		background: #fff url(../images/valid.png) no-repeat 98% center;
		box-shadow: 0 0 5px #5cd053;
		border-color: #28921f;
	}
	
	.registerform input:focus:invalid {
		background: #fff url(../images/invalid.png) no-repeat 98% center;
		box-shadow: 0 0 5px #d45252;
		border-color: #b03535
	}

	label {
		font-size: 110%;
		display: inline-block;
		width: 120px;
	}
	
	input {
		display: inline-block;
		height: 20px;
	}
	
	form ul li {
		height: 30px;
		margin-bottom: 10px;
	}

	form ul li a {
		float: left;
	}

form.loginform button.submit {
	float: right;
}

*:focus {
	outline: none;
}

input, textarea, select {
			font-family: 'Aldrich', Helvetica, Arial, sans-serif;
			font-size: 110%;
			line-height: normal;
}

/* Button Style */
button.submit {
    background-color: #86c543;
    background: -webkit-gradient(linear, left top, left bottom, from(#86c543), to(#50911e));
    background: -webkit-linear-gradient(top, #86c543, #50911e);
    background: -moz-linear-gradient(top, #86c543, #50911e);
    background: -ms-linear-gradient(top, #86c543, #50911e);
    background: -o-linear-gradient(top, #86c543, #50911e);
    background: linear-gradient(top, #86c543, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
button.submit:hover {
    opacity:.85;
    cursor: pointer;
}
button.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;
 
}